<head>
  <link rel="stylesheet" href="flightform.component.css">
</head>

<div class="divall">
  <h1>Book a Flight</h1>
  <form [formGroup]="flightform" (ngSubmit)="onsubmit(flightform.value)">
    <div>
      <label>Fullname</label>
      <span style="color: red;" *ngIf="flightform.get('FormfullName')?.errors?.['required']">*required</span>
      <span style="color: red;" *ngIf="flightform.get('FormfullName')?.errors?.['pattern']">-pattern wrong</span> <br>
      <input formControlName="FormfullName" class="ip">
    </div>

    <div class="inlinecss">
      <div class="inliine-block">
        <label>Form</label>
        <span style="color: red;" *ngIf="flightform.get('Formfrom')?.errors?.['required']">*required</span> <br>
        <select formControlName="Formfrom" class="ip">
          <option *ngFor="let l of airportlocate" [ngValue]="l.location" >{{l.location}}</option>
        </select>
      </div>
      <div class="inliine-block">
        <label>To</label>
        <span style="color: red;" *ngIf="flightform.get('Formto')?.errors?.['required']">*required</span> <br>
        <select formControlName="Formto" class="ip">
          <option *ngFor="let l of airportlocate" [ngValue]="l.location">{{l.location}}</option>
        </select>
      </div>
    </div>

    <div class="inlinecss3">
      <div class="inliine-block3">
        <label>Trip Type</label>
        <span style="color: red;" *ngIf="flightform.get('Formtype')?.errors?.['required']">*required</span> <br>
        <input type="radio" [value]="1" formControlName="Formtype"><label>One way</label>
        <input type="radio" [value]="2" formControlName="Formtype"><label>Return</label>
      </div>
      <div class="inliine-block3">
        <label>Departure</label>
        <span style="color: red;" *ngIf="flightform.get('Formdeparture')?.errors?.['required']">*required</span> <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a Departure date</mat-label>
          <input matInput [min]="mindate" [matDatepicker]="picker" formControlName="Formdeparture">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="inliine-block3">
        <label>Arrival</label>
        <span style="color: red;" *ngIf="flightform.get('Formarrival')?.errors?.['required']">*required</span> <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a Arrival date</mat-label>
          <input matInput [min]="flightform.get('Formdeparture')?.value" [matDatepicker]="picker2" formControlName="Formarrival">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="inlinecss2">
      <div class="inliine-block2">
        <label>Adults</label>
        <span style="color: red;" *ngIf="flightform.get('Formadults')?.errors?.['required']">*required</span> <br>
        <input type="number" formControlName="Formadults" min="0">
      </div>
      <div class="inliine-block2">
        <label>Children</label>
        <span style="color: red;" *ngIf="flightform.get('Formchildren')?.errors?.['required']">*required</span> <br>
        <input type="number" formControlName="Formchildren" min="0">
      </div>
      <div class="inliine-block2">
        <label>Infants</label>
        <span style="color: red;" *ngIf="flightform.get('Forminfants')?.errors?.['required']">*required</span> <br>
        <input type="number" formControlName="Forminfants" min="0">
      </div>
    </div>
    <br>
    <button [disabled]="flightform.invalid" type="submit">Submit</button>
  </form>
</div>

<!--
<div>
  show input json
  {{ flightform.value | json }}
</div>
-->

<div>
  <table>
    <tr>
      <th>Fullname</th>
      <th>From</th>
      <th>To</th>
      <th>Trip Type</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Infants</th>
    </tr>
    <tbody>
      <tr *ngFor="let fl of flight">
        <td>{{ fl.fullName }}</td>
        <td>{{ fl.from }}</td>
        <td>{{ fl.to }}</td>
        <td>{{ fl.type }}</td>
        <td>{{ fl.departure | date: "d MMM y" }}</td>
        <td>{{ fl.arrival | date: "d MMM y" }}</td>
        <td>{{ fl.adults }}</td>
        <td>{{ fl.children }}</td>
        <td>{{ fl.infants }}</td>
      </tr>
    </tbody>
  </table>
</div>


