button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}

button:hover {
  background-color: #0049e7;
}

button:disabled {
  background-color: #7b88a7;
}

.inliine-block {
  display: inline-block;
  width: 45%;
  height: 55px;
  padding-right: 30px;
}

.divall{
  margin-left: 30%;
  margin-right: 25%;
  margin-bottom: 5px;
}

input[type=radio] {
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

input[type=date] {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.inliine-block3 {
  display: inline-block;
  width: 25%;
  height: 50px;
  padding-right: 50px;
}

.inlinecss3{
  margin-top: 25px;
}


input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.inliine-block2 {
  display: inline-block;
  width: 30%;
  height: 55px;
  padding-right: 10px;
}


input.ip, select.ip {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

label {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #a80000;
  color: white;
}

.inlinecss2 {
  margin-top: 15px;
}
